/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/*
Arc-Dark Color Scheme
*/
@define-color background  #1d2021;
@define-color background2 #282828;
@define-color shutdown  #cc241d;
@define-color background3 #458588;
@define-color text    #ebdbb2;


@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 1px;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: @background;
    color: #bebebe;
    font-family: Google Sans Medium, "Font Awesome 6 Free Regular", Material Design Icons Desktop;
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid @text;
    
}

/* Every modules */
#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,

#custom-PBPbattery {
    padding:0.5rem 0.6rem;
    margin: 1px 0px;
}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

#custom-spotify {
    font-family:Google Sans Medium, "Font Awesome 6 Free";
    padding: 0 10px;
    margin-left: 4px;
    background-color: @background;
    color: @text;
    border-radius: 8px;
}

#tray, #notification{
    background-color: @background;
  
}
#custom-notification {
    border-radius: 0px;
    color: @text;
    padding-right: 16px;
    margin-left: 0;
    margin-right: 0px;
    background-color: @background;
    border-radius: 0px 0px 0px 0px;
  
}
#tray {
    color:  @text;
    margin-right: 0;
    border-radius: 0px;
    background-color: @background;
  
}


#network, #memory, #cpu, #pulseaudio{
    background-color: @background;
    color: @text;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 2px;
    
}

#cpu {
    padding-left: 0px;
    margin-right: 0px;
}

#memory {
    
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#network {
    border-radius: 0px 0px 0px 0px;
    padding-left: 10px;
    padding-right: 0px;
    margin-right: 0px;
}


#mode {
    background: @highlight;
    border-bottom: 3px transparent;
    color:white;
    margin-left: 5px;
    padding:7;
}

#network.disconnected {
    color: #d65d0e;
}

#pulseaudio {
    padding-left: 0px;
    padding-top:6px;
    padding-right: 4px;
    border-radius: 0px 8px 8px 0px;
}

#pulseaudio.muted {
    color: @highlight;
}


#workspaces {
    font-size:14px;
    border-radius: 8px; 
    background-color: @background;
    color: @text;
    padding: 0px;
    
}

#workspaces button {
    border-radius: 8px;
    margin: 0px;
    font-weight: normal;
    color: @text;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4;
    padding-right: 5;
}

#workspaces button.focused {
    background-color: @text;
    color: @background2;
    border-radius: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#workspaces button.urgent {
    border-color: @shutdown;
    color: @shutdown;
}

#custom-power {
    background-color: @background;
    border-radius: 8px 0px 0px 8px;
    color: @shutdown;
    padding-left: 15px;
    padding-right: 5px;
    margin-right: 0;
    font-size:13px;
    
}


#backlight.icon {
    padding-right:5px;
    font-size: 13px;
}

#clock {
    color: @text;
    border-radius: 8px;
    padding-right: 10px;
    background-color: @background;
  
}
